<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.yinzsw.blog.mapper.TagMapper">
    <cache-ref namespace="top.yinzsw.blog.mapper.TagMapper"/>

    <select id="pageSearchTags" resultType="top.yinzsw.blog.model.po.TagPO">
        SELECT `id`, `tag_name`, `create_time`
        FROM `tag`
        <where>
            <if test="name != null and name != ''">
                MATCH(`tag_name`) AGAINST(#{name} IN BOOLEAN MODE)
            </if>
        </where>
    </select>
</mapper>